<h1>Inventory List</h1>

<%= grid(@items_grid) do |g|

  g.column name: 'ID' do |item|
    item.id
  end

  g.column name: 'Item Name'  do |item|
    item.name
  end

  g.column  name: 'PAR Level' do |item|
    item.PAR
  end

  g.column  name: 'Inventory Level' do |item|
    item.current_stock_level
  end

  g.column  name: 'Difference' do |item|
    item.difference_between_par_and_inventory
  end

end -%>